.bash_logout
.bash_profile
.cache/
.config/.gsd-keyboard.settings-ported
.config/BraveSoftware/
.config/brinkervii/
.config/cava/
.config/dconf/
.config/discord/
.config/dleyna-renderer-service.conf
.config/dleyna-server-service.conf
.config/evolution/
.config/goa-1.0/
.config/mimeapps.list
.config/nautilus/
.config/neofetch/
.config/pulse/
.config/spotify/
.config/totem/
.config/user-dirs.dirs
.config/user-dirs.locale
.dotfiles/
.dotnet/
.gitconfig
.gnupg/
.local/
.mozilla/
.npm/
.nuget/
.oh-my-zsh/
.p10k.zsh.zwc
.pki/
.terminfo/
.viminfo
.wget-hsts
.zcompdump-archlinux-5.9
.zcompdump-archlinux-5.9.zwc
.zsh_history
.zshenv
Documents/
Pictures/
Videos/
